body {
  margin: 0px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.dashboard {
  position: fixed;
  height: 100vh;
  width: 250px;
  top: 0px;

  background: #18c29c;
}

.ul a {
  display: flex;
  text-decoration: none;
  color: #084236;
  font-size: 20px;
  line-height: 60px;
  box-sizing: border-box;
  width: 90%;
  padding-left: 27px;
  margin-left: 0px;
  align-items: center;
  margin-bottom: 5px;
  transition: 0.5s;
}

.ul a:nth-of-type(1) {
  background: #8ed7c6;
  margin-left: 0;
  padding-left: 27px;
  width: 100%;
}

a span {
  padding-left: 13px;
}

.menu {
  display: block;
  padding-left: 27px;
  margin-top: 24px;
  line-height: 60px;
}

#menu-sidebar {
  margin-left: 120px;
}

.perfil-box {
  display: flex;
  margin-top: 410px;
  align-items: center;
  height: 60px;
  width: 100%;
  background: #8ed7c6;
}

#perfil-img {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  margin-left: 13px;
}

.perfil-box img:nth-of-type(2) {
  padding-left: 80px;
  height: 28px;
  width: 24;
}

#perfil-stats {
  padding-left: 13px;
}

#check-label {
  cursor: pointer;
}

/* hover effects start */

.ul a:hover {
  background: #8ed7c6;
  border-radius: 12px;
  margin-left: 17px;
  padding-left: 10px;
  width: 70%;
  transition: 0.5s;
}

.perfil-box img:nth-of-type(2):hover {
  height: 30px;
}

#perfil-stats:hover {
  height: 27px;
}

/* hover effects end */

/* dashboard close */

#check:checked ~ .dashboard {
  left: -190px;
}

#check:checked ~ .dashboard a span {
  display: none;
}

#check:checked ~ .dashboard a {
  font-size: 20px;
  margin-left: 180px;
  width: 65px;
  display: block;
}
